body {
    background-image: url("https://cdn2.cocinadelirante.com/sites/default/files/images/2017/06/tablademadera.jpg");
    background-color: #492400a8;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center; 
    height: 100%;
   }

.container{
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; 
    margin: 0;
    padding: 0;
}

.homeButton{
    position: absolute;
    top: 43% ;
    left: 43%;
    color: #351b00;
    border-radius: 50px;
    border-width: 2px;
    border-color: #2e1700a8;
    background-color: #5c30009d;
    font-size: 28px;
    height: 100px;
    width: 250px;
}

.homeButton:hover{
    background-color: #5c3000d5;
    color: white;
}
