.recipesBar{
    height: 50px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.search{
    height: 100%;
}

.recipesScreen{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: row;
}

.flechas{
    display: inline-block;
    background-color: #c56600cb;
    height: 100%;
    width: 4%;
    color: #3b1f01;
    text-align: center;
}

.divFlechas{
    width:100%;
    min-height:90%;
    text-align:center;
    display:table;
}

.f{
    margin:0;
    padding:0;
    vertical-align:middle;
    display:table-cell;
}

.flechas:hover{
    background-color: #3b1f01;
}

.recipes{
    display: inline-block;
    background-color:white;
    width: 80%;
}

.filter{
    display: inline-block;
    height: 100%;
    width: 12%;
}

.order{
    background-color: #5c3000e7;
    height: 15%;
}

.checks{
    height: 85%;
    background-color: #5c3000e7;
}

.dietChecks{
    height: 40%;
}

.dishChecks{
    height: 60%;
}


.matrix{
    display: grid;
    grid-template-rows: 333px 333px 333px;
    grid-template-columns: 33.3% 33.3% 33.3%;
}


.errorPage{
    background-color: white;
}