.recipesScreen{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: row;
}

.flechas{
    display: inline-block;
    background-color: black;
    height: 100%;
    width: 5%;
}

.flechas:hover{
    background-color: blue;
}

.recipes{
    display: inline-block;
    height: 100%;
    width: 80%;
    background-color:#5c30009d;
}


.filter{
    display: inline-block;
    height: 100%;
    width: 10%;
}

.checks{
    height: 80%;
    background-color: #5c3000e7;
}

.order{
    background-color: #5c3000e7;
    height: 20%;
}

.matrix{
    display: grid;
    height: 100%;
    width: 100%;
    grid-auto-rows: 300px;
}
.column0{
    background-color: red;
    grid-column: 1 / 3;
    grid-row: 1/3;
}

.column1{
    background-color: black;
    grid-column: 2/3;
    grid-row: 1/3;
}

.column2{
    background-color: blue;
    grid-column: 3/3;
    grid-row: 1/3;
}

.column3{
    background-color: red;
    grid-column: 1/3;
    grid-row: 2/3;
}

.column4{
    background-color: black;
    grid-column: 2/3;
    grid-row: 2/3;
}

.column5{
    background-color: blue;
    grid-column: 3/3;
    grid-row: 2/3;
}

.column3{
    background-color: red;
    grid-column: 1/3;
    grid-row: 3/3;
}

.column4{
    background-color: black;
    grid-column: 2/3;
    grid-row: 3/3;
}

.column5{
    background-color: blue;
    grid-column: 3/3;
    grid-row: 3/3;
}